/* --------------------------------------------------  General and TopNav --------------------------------------------------  */


.topnav {
  overflow: hidden;
  background-color: #E979F2;
  z-index: 10000;
  position: fixed;
  top: 0px;
  width: 100%;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #FCEEFF;
  color: #E24EED;
}

.topnav a.active {
  background-color: #E24EED;
  color: white;
}

/* --------------------------------------------------  Home Page --------------------------------------------------  */



.homepage {
  /*margin: 0;*/
  /*font-family: Arial, Helvetica, sans-serif;*/
  background-color: #EFADFF;
  background: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(239, 173, 255, 1) 50%, rgba(214, 88, 120, 1) 100%);
  color: white;
  font-family: Andale Mono;
  cursor: url("assets/carKey.png"), auto;
  overflow: hidden; /* Optional: Prevents scrollbars if content perfectly fits */

}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.screenParent {
    height: 100vh; /* 100% of viewport height */
    width: 100vw;  /* 100% of viewport width */
    /* Or, if body is set to 100% height/width: */
    /* height: 100%; */
    /* width: 100%; */
    display: flex; /* Example for arranging children */
    flex-direction: column; /* Example for arranging children */
    justify-content: center; /* Example for arranging children */
    align-items: center; /* Example for arranging children */
}


h1 {
  text-align: center;
  position: fixed;
  z-index: 1;
  font-family: Helvetica, sans-serif;
  font-size: 145px;
  line-height: 0.65;
  letter-spacing: -0.06em;
  font-weight: 1100;
  /*font-stretch: ultra-condensed;*/
  top: 0;
  transform: translateY(55px);
  color: white;
  
  /*color: rgba(214,88,120,0.8);*/
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  z-index: 2;
  transform: translateY(65px);

}

/* Hide the images by default */
.mySlides {
  display: none;
  /*transform: translateY(5px);*/
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(214,88,120,0.8);
}

/*.fade {*/
/*  animation-name: fade;*/
/*  animation-duration: 1.5s;*/
/*}*/

/*@keyframes fade {*/
/*  from {opacity: .4}*/
/*  to {opacity: 1}*/
/*}*/

  
.radioImg{
  left: 0;
  bottom: 0;
  position: absolute;
  padding: 5px;
  }


/* --------------------------------------------------  About Me --------------------------------------------------  */


.about-me{
  overflow: visible;
  background-color: #EFADFF;
  background: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(239, 173, 255, 1) 50%, rgba(214, 88, 120, 1) 100%);
  background-attachment: fixed;
  color: white;
  font-family: Andale Mono;
  cursor: url("assets/carKey.png"), auto;

}

.bubbleBox{
  /*text-align: center;*/
  background-color: rgba(214, 88, 120, 0.5);
  width: 1100px;
  border: 1px solid white;
  border-radius: 35px;
  padding: 30px;
  margin: 45px;
  display:block;
}
  
.bubbleBoxText{
  font-family: Times, Times New Roman, serif;
  font-size: 23px;
  text-align: left;
  /*line-height: 0.65;*/
  /*letter-spacing: -0.06em;*/
  /*font-weight: 1100;*/
}

.myName{
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-size: 65px;
  line-height: 0.001;
  letter-spacing: -0.06em;
  color: white;
}
  
.gradPic{
  border-radius: 20px;
  float: right;
  margin-left: 20px;
  border: 1px solid #FBE8FD;
}
  
h2 {
  text-align: center;
  /*position: fixed;*/
  font-family: Helvetica, sans-serif;
  font-size: 150px;
  line-height: 0.65;
  letter-spacing: -0.06em;
  font-weight: 1100;
  /*font-stretch: ultra-condensed;*/
  top: 0;
  color: white;
}

h3{
  text-align: center;
}

.bubbleBoxBullets {
  /*list-style-position: inside;*/
  text-align: left;
  padding-left: 0; /* Removes default browser padding */
  font-family: Times, Times New Roman, serif;
  font-size: 23px;
  text-align: left;

}

li {
  margin-left: 1em; /* Indents the list item text */
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: white;
  color: #E979F2;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #E979F2;
  color: white;
}

.linkedin-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #6290D9; /* LinkedIn blue */
  color: white;
  font-size: 24px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s;
}

.linkedin-btn:hover {
  background-color: #005983;
  transform: scale(1.1);
}



/* --------------------------------------------------  Gallery --------------------------------------------------  */



/* --------------------------------------------------  BONEYARD --------------------------------------------------  */


/* Caption text */
/*.text {*/
/*  color: #f2f2f2;*/
/*  font-size: 15px;*/
/*  padding: 8px 12px;*/
/*  position: absolute;*/
/*  bottom: 8px;*/
/*  width: 100%;*/
/*  text-align: center;*/
/*}*/

/* Number text (1/3 etc) */
/*.numbertext {*/
/*  color: #f2f2f2;*/
/*  font-size: 12px;*/
/*  padding: 8px 12px;*/
/*  position: absolute;*/
/*  top: 0;*/
/*}*/

/* The dots/bullets/indicators */
/*.dot {*/
/*  cursor: pointer;*/
/*  height: 15px;*/
/*  width: 15px;*/
/*  margin: 0 2px;*/
/*  background-color: #bbb;*/
/*  border-radius: 50%;*/
/*  display: inline-block;*/
/*  transition: background-color 0.6s ease;*/
/*}*/

/*.active, .dot:hover {*/
/*  background-color: #717171;*/
/*}*/

/* Fading animation */


/*.container {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
    /*border: 1px solid;*/
/*    width: 50vw;*/
/*    height: 50vw;*/
/*    margin: 0 auto;*/
/*}*/
/*.container img*/
/*{*/
/*    max-width:100%;*/
/*    max-height:100%;*/
/*}*/

