/* -------------------------------------------------- TopNav & Dark Mode --------------------------------------------------  */

.topnav {
  overflow: hidden;
  background-color: #E979F2;
  z-index: 10000;
  position: fixed;
  top: 0px;
  width: 100%;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #FCEEFF;
  color: #E24EED;
}

.topnav a.active {
  background-color: #E24EED;
  color: white;
}

.theme-toggle {
  float: right;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #6290D9; /* LinkedIn blue */
  color: white;
  font-size: 24px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s;
}

.theme-toggle:hover {
  background-color: #005983;
  transform: scale(1.1);
}

/* --------------------------------------------------  Home Page --------------------------------------------------  */

/* .homepage {
  background-color: #EFADFF;
  background: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(239, 173, 255, 1) 50%, rgba(214, 88, 120, 1) 100%);
  color: white;
  font-family: Andale Mono;
  cursor: url("assets/carKey.png"), auto;
  overflow: hidden; /* Optional: Prevents scrollbars if content perfectly fits
} */

html{
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    overflow: visible;
    background-color: #EFADFF;
    background: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(239, 173, 255, 1) 50%, rgba(214, 88, 120, 1) 100%);
    background-attachment: fixed;
    color: white;
    font-family: Andale Mono;
    cursor: url("assets/carKey.png"), auto;
}

body.dark-mode {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  overflow: visible;
  background-color: #140370;
  background: linear-gradient(rgba(97, 54, 158, 1) 0%, rgba(69, 42, 156, 1) 50%, rgba(20, 3, 112, 1) 100%);
  /* background: linear-gradient(rgba(20, 3, 112, 1) 0%, rgba(69, 42, 156, 1) 50%, rgba(97, 54, 158, 1) 100%); */
  background-attachment: fixed;
  color: white;
  font-family: Andale Mono;
  cursor: url("assets/carKey.png"), auto;

}

.screenParent {
    height: 100vh; /* 100% of viewport height */
    width: 100vw;  /* 100% of viewport width */
    /* Or, if body is set to 100% height/width: */
    /* height: 100%; */
    /* width: 100%; */
    display: flex; /* Example for arranging children */
    flex-direction: column; /* Example for arranging children */
    justify-content: center; /* Example for arranging children */
    align-items: center; /* Example for arranging children */
}

* {box-sizing:border-box}

/* .about-me{
  overflow: visible;
  background-color: #EFADFF;
  background: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(239, 173, 255, 1) 50%, rgba(214, 88, 120, 1) 100%);
  background-attachment: fixed;
  color: white;
  font-family: Andale Mono;
  cursor: url("assets/carKey.png"), auto;
} */

.bubbleBox{
  /*text-align: center;*/
  background-color: rgba(214, 88, 120, 0.5);
  width: 1100px;
  border: 1px solid white;
  border-radius: 35px;
  padding: 30px;
  margin: 45px;
  display:block;
}
  
.bubbleBoxText{
  font-family: Times, Times New Roman, serif;
  font-size: 23px;
  text-align: left;
  /*line-height: 0.65;*/
  /*letter-spacing: -0.06em;*/
  /*font-weight: 1100;*/
}
  
.gradPic{
  border-radius: 20px;
  float: right;
  margin-left: 20px;
  border: 1px solid #FBE8FD;
}

.myName{
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-size: 65px;
  line-height: 0.001;
  letter-spacing: -0.06em;
  color: white;
}

h1 {
  text-align: center;
  position: fixed;
  z-index: 1;
  font-family: Helvetica, sans-serif;
  font-size: 145px;
  line-height: 0.65;
  letter-spacing: -0.06em;
  font-weight: 1100;
  top: 0;
  transform: translateY(55px);
  color: white;
}

h2 {
  text-align: center;
  /*position: fixed;*/
  font-family: Helvetica, sans-serif;
  font-size: 150px;
  line-height: 0.65;
  letter-spacing: -0.06em;
  font-weight: 1100;
  /*font-stretch: ultra-condensed;*/
  top: 0;
  color: white;
}

h3{
  text-align: center;
}

.bubbleBoxBullets {
  /*list-style-position: inside;*/
  text-align: left;
  padding-left: 0; /* Removes default browser padding */
  font-family: Times, Times New Roman, serif;
  font-size: 23px;
  text-align: left;

}

li {
  margin-left: 1em; /* Indents the list item text */
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: white;
  color: #E979F2;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #E979F2;
  color: white;
}

.linkedin-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #6290D9; /* LinkedIn blue */
  color: white;
  font-size: 24px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s;
}

.linkedin-btn:hover {
  background-color: #005983;
  transform: scale(1.1);
}

/* --------------------------------------------------  BONEYARD --------------------------------------------------  */


/* Caption text */
/*.text {*/
/*  color: #f2f2f2;*/
/*  font-size: 15px;*/
/*  padding: 8px 12px;*/
/*  position: absolute;*/
/*  bottom: 8px;*/
/*  width: 100%;*/
/*  text-align: center;*/
/*}*/

/* Number text (1/3 etc) */
/*.numbertext {*/
/*  color: #f2f2f2;*/
/*  font-size: 12px;*/
/*  padding: 8px 12px;*/
/*  position: absolute;*/
/*  top: 0;*/
/*}*/



