/* -------------------------------------------------- Color Theme --------------------------------------------------  */

:root {
  --bg-gradient: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(239, 173, 255, 1) 50%, rgba(214, 88, 120, 1) 100%);
  --text-color: #000;
  --nav-bg: #E979F2;
  --nav-text: white;
  --nav-active: #E24EED;
  --button-bg: rgba(214, 88, 120);
  --button-text: white;
  --card-bg: white;
  --card-border: #fdf5ff;
  --bubbleBox: rgba(214, 88, 120, 0.5);
  --docHover: rgba(69, 0, 31, 0.5);
  --tabHover: #fdf5ff;
  --tabTextHover: rgba(214, 88, 120);
  --scrollTopDark: #E979F2;
  --scrollTopLight: #fdf5ff;
}

body.dark-mode {
  --bg-gradient: linear-gradient(rgb(151, 56, 172) 0%, rgb(75, 31, 169) 50%, rgb(21, 5, 110) 100%);
  --text-color: #f3f3f3;
  --nav-bg: #2d1e66;
  --nav-text: #e0dafe;
  --nav-active: #1d104f;
  --button-bg: rgb(35, 17, 93);
  --button-text: #ffffff;
  --card-bg: #1b1540;
  --card-border: rgb(151, 56, 172);
  --bubbleBox: rgba(21, 5, 110, 0.5);
  --docHover: rgba(9, 0, 58, 0.5);
  --tabHover: rgb(134, 49, 162);
  --tabTextHover: white;
  --scrollTopDark: rgb(15, 5, 58);
  --scrollTopLight: rgb(134, 49, 162);
}
/* -------------------------------------------------- END Color Theme --------------------------------------------------  */

/* -------------------------------------------------- TopNav --------------------------------------------------  */

.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background-color: var(--nav-bg);
  z-index: 10000;
  position: fixed;
  top: 0px;
  /* height: 60px; */
  width: 100%;
  /* padding: 0 16px; */
}

.navLeft {
  display: flex;
  height: 100%;
}

.topnav a {
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: var(--card-border);
  color: var(--tabTextHover);
}

.topnav a.active {
  background-color: var(--nav-active);
  color: white;
}

.darkModeBtn {
  text-align: center;
  margin-top: 1px;
  margin-right: 8px;
  padding: 14px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--nav-active);
  color: white;
  font-size: 24px;
  /* text-decoration: none;
  transition: background-color 0.3s, transform 0.2s; */
}

.darkModeBtn:hover {
  background-color: var(--nav-active);
  transform: scale(1.1);
}

/* -------------------------------------------------- END TopNav --------------------------------------------------  */


/* -------------------------------------------------- General --------------------------------------------------  */
html, body{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  /* padding: 0; */
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  overflow: visible;
  /* background-color: #EFADFF; */
  background: var(--bg-gradient);
  background-attachment: fixed;
  color: white;
  font-family: Andale Mono;
  /* cursor: url("assets/carKey.png"), auto; */
}

.screenParent {
    height: 100vh;
    width: 100vw;
    /* Or, if body is set to 100% height/width: */
    /* height: 100%; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {box-sizing:border-box}

.bubbleBox{
  /*text-align: center;*/
  background-color: var(--bubbleBox);
  width: 1100px;
  border: 1px solid white;
  border-radius: 35px;
  padding: 30px;
  margin: 45px;
  display:block;
}
  
.bubbleBoxText{
  font-family: Times, Times New Roman, serif;
  font-size: 23px;
  text-align: left;
  /*line-height: 0.65;*/
  /*letter-spacing: -0.06em;*/
  /*font-weight: 1100;*/
}
  
.gradPic{
  border-radius: 20px;
  float: right;
  margin-left: 20px;
  border: 1px solid #FBE8FD;
  width:35%;
}

body.dark-mode .gradPic {
  content: url("pics/teachingPic.JPG");
  border-color: #5849b8; /* optional: darker border for dark mode */
}

.myName{
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-size: 65px;
  line-height: 0.001;
  letter-spacing: -0.06em;
  color: white;
}

h1 {
  text-align: center;
  position: fixed;
  z-index: 1;
  font-family: Helvetica, sans-serif;
  font-size: 145px;
  line-height: 0.65;
  letter-spacing: -0.06em;
  font-weight: 1100;
  top: 0;
  transform: translateY(55px);
  color: white;
}

h2 {
  text-align: center;
  /*position: fixed;*/
  font-family: Helvetica, sans-serif;
  font-size: 150px;
  line-height: 0.65;
  letter-spacing: -0.06em;
  font-weight: 1100;
  /*font-stretch: ultra-condensed;*/
  top: 0;
  color: white;
}

h3{
  text-align: center;
}

.bubbleBoxBullets {
  /*list-style-position: inside;*/
  text-align: left;
  padding-left: 0; /* Removes default browser padding */
  font-family: Times, Times New Roman, serif;
  font-size: 23px;
  text-align: left;
}

li {
  margin-left: 1em; /* Indents the list item text */
}
/* --------------------------------------------------  END General --------------------------------------------------  */

/* -------------------------------------------------- Document Hovering --------------------------------------------------  */
.hover-effect {
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.hover-effect img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 4px;
  transition: transform 0.3s ease;
}

.hover-effect::after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s ease;
}

.hover-effect:hover::after {
  background: var(--docHover);
}

.hover-effect:hover img {
  transform: scale(1.02);
}

.hover-effect::after {
  pointer-events: none;
}

.pdf-container {
  width: 35%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.research-container {
  width: 35%;
  height: auto;
  aspect-ratio: 2 / 3;
  border-radius: 5px;
  float: right;
  margin: 25px;
  border: 1px solid #FBE8FD;
}
/* -------------------------------------------------- END Document Hovering --------------------------------------------------  */

/* -------------------------------------------------- TABS --------------------------------------------------  */
  .bar {
    display: flex;
    background-color: var(--button-bg);
    overflow: hidden;
    border-radius: 35px;

  }

  .bar-item {
    padding: 14px 20px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }

  .bar-item:hover {
    background-color: var(--tabHover);
    color: var(--tabTextHover);
    
  }

  .bar-item.active {
    background-color: none; /* test clear */
  }

  .tabcontent {
    display: none;
    padding: 20px;
    border-top: none;
    background-color: none; /*test clear display hmm*/
  }

  .tabcontent.active {
    display: block;
  }

  @media (max-width: 600px) {
    .bar {
      flex-direction: column;
    }
  }

/* -------------------------------------------------- END TABS --------------------------------------------------  */

/* -------------------------------------------------- Care Board Button --------------------------------------------------  */
.launchBtn {
    background-color: var(--button-bg);
    color: white;
    padding: 12px 12px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-decoration: none;
    display: inline-block;
  }

  .launchBtn:hover {
    background-color: var(--tabHover);
    color: var(--tabTextHover); 
    transform: translateY(-2px);
  }

  .launchBtn:active {
    background-color: var(--docHover);
    transform: translateY(0);
  }

  form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

/* -------------------------------------------------- END Care Board Button --------------------------------------------------  */

/* -------------------------------------------------- Scroll Top Button --------------------------------------------------  */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--scrollTopLight);
  color: var(--scrollTopDark);
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: var(--scrollTopDark);
  color: var(--scrollTopLight);
}
/* -------------------------------------------------- END Scroll Top Button --------------------------------------------------  */

/* -------------------------------------------------- LinkedIn Button --------------------------------------------------  */
.linkedin-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #6290D9; /* LinkedIn blue */
  color: white;
  font-size: 24px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s;
}

.linkedin-btn:hover {
  background-color: #005983;
  transform: scale(1.1);
}
/* -------------------------------------------------- END LinkedIn Button --------------------------------------------------  */

/* --------------------------------------------------  XP BONEYARD XP --------------------------------------------------  */


/* Caption text */
/*.text {*/
/*  color: #f2f2f2;*/
/*  font-size: 15px;*/
/*  padding: 8px 12px;*/
/*  position: absolute;*/
/*  bottom: 8px;*/
/*  width: 100%;*/
/*  text-align: center;*/
/*}*/

/* Number text (1/3 etc) */
/*.numbertext {*/
/*  color: #f2f2f2;*/
/*  font-size: 12px;*/
/*  padding: 8px 12px;*/
/*  position: absolute;*/
/*  top: 0;*/
/*}*/



